<section class="phx-hero">

  <%= case assigns[:status] do %>

    <% :uploading -> %> 
      Uploading <%= @progress %>%
      
    <% :success -> %> 
      <video controls width="640">
        <source src="<%= @video_url %>" type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
      </video>
      
    <% :error -> %> 
      Error
      
    <% _ -> %> 
      <%= live_component @socket, PhoenixLiveViewDropzone, file_data: @file_data %>
    
  <% end %>

</section>


